@page "/inicio"

<PageTitle>Inicio</PageTitle>

<div class="text-center">
    <h1 class="display-4">Bienvenido a Nuestra Aplicación</h1>
    <p>Esta es la página de inicio de tu aplicación Blazor.</p>
    <p>Explora las funcionalidades y gestiona tus datos de manera eficiente.</p>

    <div class="mt-4">
        <a href="/workers" class="btn btn-primary">Workers</a>
    </div>
</div>
