@page "/centrocostos"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Centros de Costos</h3>


<button class="btn btn-primary" @onclick="CreateNewMovement">Crear Nuevo Centro Costos</button>


@code {
    private void CreateNewMovement()
    {
        NavigationManager.NavigateTo("insertcentrocostos");
    }
}

@if (centrosCostos == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre del Centro de Costos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var centro in centrosCostos)
            {
                <tr>
                    <td>@centro.Codigo</td>
                    <td>@centro.NombreCentroCostos</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => SolicitarAutorizacion(centro.Codigo, true)">Editar</button>
                        <button class="btn btn-danger" @onclick="() => SolicitarAutorizacion(centro.Codigo, false)">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<CentroCostosModel> centrosCostos;

    protected override async Task OnInitializedAsync()
    {
        centrosCostos = await Http.GetFromJsonAsync<List<CentroCostosModel>>("http://apiservicios.ecuasolmovsa.com:3009/api/Varios/CentroCostosSelect");
    }

    private void SolicitarAutorizacion(int codigo, bool esEdicion)
    {
        var accion = esEdicion ? "editar" : "eliminar";
        NavigationManager.NavigateTo($"/auth/{codigo}/{accion}");
    }

    public class CentroCostosModel
    {
        public int Codigo { get; set; }
        public string NombreCentroCostos { get; set; }
    }
}
