<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">AppLab</a>
    </div>
</div>

<div class="bg-dark">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <!-- Enlaces actualizados para Workers y cualquier otra página que desees agregar -->
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="workers">
                <span class="oi oi-people" aria-hidden="true"></span> Workers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="tipotrabajadores">
                <span class="oi oi-people" aria-hidden="true"></span> Tipo trabajadores
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="genero">
                <span class="oi oi-people" aria-hidden="true"></span> Genero
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="CentroCostos">
                <span class="oi oi-people" aria-hidden="true"></span> Centro Costos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="insertcentrocostos">
                <span class="oi oi-people" aria-hidden="true"></span> Insert Centro Costos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="movimientoplanilla">
                <span class="oi oi-people" aria-hidden="true"></span> Movimiento Planilla
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="EditMovimientoPlanilla">
                <span class="oi oi-people" aria-hidden="true"></span> Edit Movimiento Planilla
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="cuentacontables">
                <span class="oi oi-people" aria-hidden="true"></span> Cuenta Contable
            </NavLink>
        </div>
    </nav>
</div>
