<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">AppLab</a>
    </div>
</div>

<div class="bg-dark">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="inicio">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="tipocomision">
                <span class="oi oi-tag" aria-hidden="true"></span> Tipo Comisión
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="decimotercerodecimocuarto">
                <span class="oi oi-dollar" aria-hidden="true"></span> Décimo Tercero y Cuarto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="fondoreserva">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Fondo de Reserva
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="tipocontrato">
                <span class="oi oi-document" aria-hidden="true"></span> Tipo de Contrato
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="tipocese">
                <span class="oi oi-x" aria-hidden="true"></span> Tipo de Cese
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="estadocivil">
                <span class="oi oi-heart" aria-hidden="true"></span> Estado Civil
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="esreingreso">
                <span class="oi oi-reload" aria-hidden="true"></span> Es Reingreso
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="tipocuenta">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Tipo de Cuenta
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="ocupaciones">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Ocupaciones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="categoriaocupacional">
                <span class="oi oi-people" aria-hidden="true"></span> Categoría Ocupacional
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="nivelsalarial">
                <span class="oi oi-dollar" aria-hidden="true"></span> Nivel Salarial
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="workers">
                <span class="oi oi-people" aria-hidden="true"></span> Workers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="/periodovacaciones">
                <span class="oi oi-people" aria-hidden="true"></span> Periodo Vacaciones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="tipotrabajadores">
                <span class="oi oi-people" aria-hidden="true"></span> Tipo trabajadores
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="genero">
                <span class="oi oi-people" aria-hidden="true"></span> Genero
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="CentroCostos">
                <span class="oi oi-people" aria-hidden="true"></span> Centro Costos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="movimientoplanilla">
                <span class="oi oi-people" aria-hidden="true"></span> Movimiento Planilla
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="cuentacontables">
                <span class="oi oi-people" aria-hidden="true"></span> Cuenta Contable
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Logout
            </NavLink>
        </div>

    </nav>
</div>
